doctype html
html(lang="en")
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body 
        a(href="http://localhost:3000/update-cobj") Add/Update Custom Object
        
        div.container 
            table(style='width:50%; background-color:#fff; margin:10px;padding:20px;').card
                tr(style='margin-bottom: 30px!important;')
                    th Name
                    th Color
                    th Category
                each sneaker in sneakers
                    tr(style='text-align: center; margin-bottom: 10px!important;')
                        td #{sneaker.properties.name}
                        td #{sneaker.properties.color}
                        td #{sneaker.properties.category}
                

